[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "libs/curlcpp"]
	path = libs/curlcpp
	url = https://github.com/JosephP91/curlcpp.git
[submodule "libs/curl"]
	path = libs/curl
	url = https://github.com/curl/curl.git
